# MAC OS files
.DS_Store

# VS Code
.vscode

# Data
data/*

# Conda env
env/conda_env

# Jobs
jobs/log

# Templates
templates/

# Python
__pycache__

# Untrack results for now
results/

# Temporal scripts and jobs
temp/